@import url('https://fonts.googleapis.com/css?family=PT+Mono|Ubuntu');

.aboutCont span {
  color: #42A2BB;
}

.aboutCont {
  width: 80vw;
  min-height: 80vh;
  padding: 10vh 10vw;
  background-color: #fff;
}

.portBoxCont {
  width: 85%;
  height: 94%;
  margin-left: auto;
  margin-right: auto;

}

.whereAmI {
  font-family: 'PT Mono';
  margin-top: 2%;
  margin-left: 2%;
  position: absolute;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.whereAmI span {
  display: inline;
  background-color: #C57E83;
  padding: 3px;
  color: #fff;
}

.portBoxRow {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.portBox {
  width: 270px; 
  height: 270px;
  background-color: #777;
  background-blend-mode: multiply;
  display: inline-block;
  margin-right: 2%; 
  margin-top: 2%;
  background-size: cover;
  transition: 0.5s ease-in-out;

}

.portBox:hover {
  background-color: #2B2B2B;
  background-blend-mode: multiply;
}

.pic1 {
  background-image: url(https://camo.githubusercontent.com/e196c5bc9c143690a98b5b6126e5dede1b840367/68747470733a2f2f63646e772e6e69636b7069632e686f73742f78627a4d506e2e706e67);
}

.pic2 {
  background-image: url(https://cdnw.nickpic.host/x7NIqd.md.png);
}

.pic3 {
  background-image: url(https://cdnw.nickpic.host/x7NmwD.png);
}

.pic4 {
  background-image: url(https://user-images.githubusercontent.com/38081935/46889970-321c7f00-ce1a-11e8-8426-0d8b5ee1a434.png);
}

.pic5 {
  background-image: url(https://cdnw.nickpic.host/x7NoW5.png);
}

.pic6 {
  background-image: url(https://i.pinimg.com/564x/07/77/16/077716723d318f5c1904a30b5a0b6771.jpg);
}

.pTitle {
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu';
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 50%;
}

.buttonz {
  position: absolute;
  top: -200%;
  left: 15px;
}

.pInfo {
  color: #fff;
  opacity: .0;
  height: 26%;
  padding: 2%;
  width: 96%;
  margin-top: 8%;
  position: relative;
  transition: opacity 0.5s ease-in-out;
  font-family: 'PT Mono';
  text-align: justify;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center; 
  line-height: 150%;
}

.portBox:hover .pInfo {
  opacity: 1;
}

.pTitle span {
  display: inline;
  background-color: #C57E83;
  padding: 3px;
  color: #fff;
}

.pInfo span {
  display: inline;
  background-color: #C57E83;
  padding: 3px;
  color: #fff;
}