@import url('https://fonts.googleapis.com/css?family=PT+Mono|Ubuntu');

/* #CC8F8F */

.headerCont {
  width: 90vw;
  height: 90vh;
  padding: 5vh 5vw;
  background-color: #25292A;
  color: #fff;
}

h1 span {
  color: rgb(65, 65, 65);
}

h1 {
  font-family: 'Ubuntu';
  font-size: 45px;
  letter-spacing: 2px;
  margin-top: 29vh;
  text-transform: uppercase;
}

.underInfo {
  font-family: 'PT Mono';
  font-size: 11px;
  letter-spacing: 4px;
  color: #fff;
  text-transform: uppercase;
  width: 44vw;
  text-align: justify;
  line-height: 190%;
  margin-left: 5vw;
}

.underInfo span {
  color: #C57E83;
}

.underInfo a {
  text-decoration: none;
}

.skillz {
  text-transform: lowercase;
  position: relative;
  margin-top: 40px;
  letter-spacing: 2px;
  font-size: 12px;
  margin-left: 20px;
}